// Annotations Component - ACTUALIZADO con breakpoints proporcionales
// Handwriting-style annotations and decorative elements

.handwriting-annotation {
  position: absolute;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  z-index: 1;
  pointer-events: none;
  
  &.revealed {
    opacity: 1;
    transform: scale(1);
  }
  
  img, svg {
    width: auto;
    height: auto;
    max-height: 80px;
    display: block;
    
    @media (max-width: 1024px) {
      max-height: 60px;
    }
    
    @media (max-width: 768px) {
      max-height: 50px;
    }
  }
  
  // Línea 1: PROJECT MANAGEMENT (arriba izquierda)
  .typewriter-line:nth-child(1) & {
    right: calc(50% + 450px);
    top: -30px;
    transform: scale(0.9);
    
    &.revealed {
      transform: scale(1);
    }
    
    @media (max-width: 1400px) {
      right: calc(50% + 430px); 
      top: -30px;
    }
    
    @media (max-width: 1200px) {
      right: calc(50% + 430px); 
      top: -30px;
    }
    
    @media (max-width: 1024px) {
      right: calc(50% + 300px);  
      top: -30px;
    }
    
    @media (max-width: 900px) {
      right: calc(50% + 300px); 
      top: -30px;
    }
    
    @media (max-width: 768px) {
      display: none;
    }
  }
  
  // Línea 2: ARQUITECTURA (derecha, centrada verticalmente)
  .typewriter-line:nth-child(2) & {
    left: calc(50% + 400px);
    top: 50%;
    transform: translateY(-50%) scale(0.9);
    
    &.revealed {
      transform: translateY(-50%) scale(1);
    }
    
    @media (max-width: 1400px) {
      left: calc(50% + 360px); 
    }
    
    @media (max-width: 1200px) {
      left: calc(50% + 360px);  
    }
    
    @media (max-width: 1024px) {
      left: calc(50% + 250px); 
    }
    
    @media (max-width: 900px) {
      left: calc(50% + 250px); 
    }
    
    @media (max-width: 768px) {
      display: none;
    }
  }
  
  // Línea 3: DISEÑO (izquierda, centrada verticalmente)
  .typewriter-line:nth-child(3) & {
    right: calc(50% + 250px);
    top: 50%;
    transform: translateY(-50%) scale(0.9);
    
    &.revealed {
      transform: translateY(-50%) scale(1);
    }
    
    @media (max-width: 1400px) {
      right: calc(50% + 220px); 
    }
    
    @media (max-width: 1200px) {
      right: calc(50% + 220px); 
    }
    
    @media (max-width: 1024px) {
      right: calc(50% + 160px); 
    }
    
    @media (max-width: 900px) {
      right: calc(50% + 180px);  
    }
    
    @media (max-width: 768px) {
      display: none;
    }
  }
  
  // Línea 4: UX/UI (abajo derecha)
 
  .typewriter-line:nth-child(4) & {
    left: calc(50% + 250px);
    bottom: -60px;
    transform: scale(0.9);
    
    &.revealed {
      transform: scale(1);
    }
    
    @media (max-width: 1400px) {
      left: calc(50% + 220px);  
      bottom: -60px;
    }
    
    @media (max-width: 1200px) {
      left: calc(50% + 190px); 
      bottom: -60px;
    }
    
    @media (max-width: 1024px) {
      left: calc(50% + 160px); 
      bottom: -50px;
    }
    
    @media (max-width: 900px) {
      left: calc(50% + 130px);  
      bottom: -50px;
    }
    
    @media (max-width: 768px) {
      display: none;
    }
  }
}